@charset "UTF-8";

/* RESETS */
.getting-online-module {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.getting-online-module input,
.getting-online-module select,
.getting-online-module textarea,
.getting-online-module button {
  font-family: inherit;
}

.getting-online-module img {
  border : 0;
}

.getting-online-module ul {
  margin-left: 20px;
}


/* BASIC STYLING */
.getting-online-module {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

.getting-online-module p {
  margin-bottom: .5em;
}

.getting-online-module a {
  color: #4472b9;
}

.getting-online-module a:hover {
  color: #767676;
}


.getting-online-module .introduction {
  color: #666;
  margin: 10px 0 20px 0;
}

.getting-online-module .change-os-button {
  font-size: .8em;
  margin-bottom: 20px;
  margin-top: -5px;
}

.getting-online-module .form-control.change-os-select {
  display: none;
  margin-bottom: 10px;
}

.getting-online-module .instructions {
  display: none;
}

/* ORDERED LISTS */
.getting-online-module .ol-big-numbers {
  margin-left: 0;
  padding-right: 0;
  list-style-type: none;
}

.getting-online-module .ol-big-numbers>li {
  counter-increment: step-counter;
  margin-bottom: 30px;
  margin-left: 40px;
  position: relative;
}

.getting-online-module .ol-big-numbers>li::before {
    content: counter(step-counter);
    font-size: 80%;
    background-color: rgb(200,200,200);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 3px 10px;
    position: absolute;
    left: -40px;
}

/* CSS SELECT */
/* Custom dropdown */
.getting-online-module .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.getting-online-module .form-control:focus{
    outline: 0;
}

/* Buttons */
.getting-online-module .button {
  -webkit-appearance: none;
  border: none;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  min-height: 33px;
  min-width: 32px;
  padding: 6px 8px;
  margin-bottom: 4px;
  background-color: #aaa;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0,0,0, 0.3);
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  outline: none;
  border-radius: 2px;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 2px 0 0 #777;
  cursor: pointer;
}

.getting-online-module a.button .fa {
  position: relative;
  top: 1px;
}

.getting-online-module .button.disabled {
  opacity: 0.2;
}

.getting-online-module button.button,
.getting-online-module input[type=submit].button {
  padding: 6px 8px;
}

.getting-online-module .button:hover {
  background-color: #bbb;
  color: white;
}

.getting-online-module .button:active {
  box-shadow: 0 1px 0 0 #777;
  top: 1px;
}

.getting-online-module .button.button-primary {
  background-color: #3f8abf;
  box-shadow: 0 2px 0 0 #2c6085;
}
.getting-online-module .button.button-primary:hover { background-color: #4795cc; }
.getting-online-module .button.button-primary:active { box-shadow: 0 1px 0 0 #2c6085; }

.getting-online-module .button.button-success {
  background-color: #7da248;
  box-shadow: 0 2px 0 0 #57762a;
}
.getting-online-module .button.button-success:hover { background-color: #90b45c; }
.getting-online-module .button.button-success:active { box-shadow: 0 1px 0 0 #57762a; }

.getting-online-module .button.button-warning {
  background-color: #f6cc68;
  box-shadow: 0 2px 0 0 #ddb24d;
}
.getting-online-module .button.button-warning:hover { background-color: #fad375; }
.getting-online-module .button.button-warning:active { box-shadow: 0 1px 0 0 #ddb24d; }

.getting-online-module .button.button-danger {
  background-color: #a94d4d;
  box-shadow: 0 2px 0 0 #7a2d2d;
}
.getting-online-module .button.button-danger:hover { background-color: #b85c5c; }
.getting-online-module .button.button-danger:active { box-shadow: 0 1px 0 0 #7a2d2d; }

/* ALERTS */
.getting-online-module .alert {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;

}

.getting-online-module .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.getting-online-module .alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.getting-online-module .alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.getting-online-module .alert-danger {
  color: #a94442;
  background: #f2dede;
  border-color: #ebccd1;
}

.getting-online-module .alert-success a,
.getting-online-module .alert-info a,
.getting-online-module .alert-warning a,
.getting-online-module .alert-danger a {
  font-weight: bold;
}

.getting-online-module .alert-success a {
  color: #2b542c;
}

.getting-online-module .alert-info a {
  color: #245269;
}

.getting-online-module .alert-warning a {
  color: #66512c;
}

.getting-online-module .alert-danger a {
  color: #843534;
}


/* INLINE CODE */
.getting-online-module code {
  font-family: monospace;
}

.getting-online-module p>code,
.getting-online-module li>code,
.getting-online-module dd>code,
.getting-online-module td>code {
  background: #eee;
  padding: 0 5px 2px;
  border-radius: 4px;
  position: relative;
  top: -1px;
  margin: 0 3px 0 1px;
  font-size: 1.1em;
}

/* TABLE */
.getting-online-module table {
  margin-top: 5px;
  margin-bottom: 10px;
}
.getting-online-module table td {
  vertical-align: top;
  padding-bottom: 10px;
}

.getting-online-module table.first-column-strong tr td:first-child {
  font-weight: 700;
  padding-right: 5px;
}

.getting-online-module .faded {
  font-weight: 300;
  color: #999;
}

/* PANEL */
.getting-online-module .panel {
  background-color: #fafafa;
  padding: 15px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.4);
  margin-bottom: 20px;
}

/* SIMPLE GRID SYSTEM */
/* https://css-tricks.com/dont-overthink-it-grids/ */
.getting-online-module .grid:after {
  content: "";
  display: table;
  clear: both;
}

.getting-online-module [class*='col-'] {
  float: left;
  padding-right: 40px;
  margin-bottom: 40px;
}

.getting-online-module.grid [class*='col-']:last-of-type {
  padding-right: 0;
}

.getting-online-module .col-2-3 {
  width: 66.66%;
}

.getting-online-module .col-1-3 {
  width: 33.33%;
}

.getting-online-module .col-1-2 {
  width: 50%;
}

.getting-online-module .col-1-4 {
  width: 25%;
}

.getting-online-module .col-1-8 {
  width: 12.5%;
}

.getting-online-module .col-2-5 {
  width: 40%;
}

.getting-online-module .col-3-5 {
  width: 60%;
}

.getting-online-module .module {
  padding: 40px;
  background: #eee;
}

/* Opt-in outside padding */
.getting-online-module .grid-pad {
  padding: 40px 0 40px 40px;
}
.getting-online-module .grid-pad [class*='col-']:last-of-type {
  padding-right: 40px;
}

@media screen and (max-width: 800px) {
  .getting-online-module [class*='col-'] {
    padding-right: 0;
  }
  .getting-online-module .col-2-5 {
    width: 100%;
  }
  .getting-online-module .col-3-5 {
    width: 100%;
  }
}